body{
    background: color blue;
}

.nav-container
{
text-align: center;

}

.about-header{
    text-align:center;
   margin-right: 15%;
   margin-left: 15%;
}

h1 { 
    text-align:center;
    color:black;
}

h2 {
    color: whitesmoke;
}

h3 {
    color: black;
    text-align: center;
}

