* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
}

.contact-header {
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}
    
h1 {
    text-align: center;
    color: black;
}

h2 {
    color: white;
}

h4 {
    color: #4169e1;
}

.info {
    color: black;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
    height: 100%;
    min-height: 300px;
    min-width: auto;
}
    
.left {
    background-color: #4169e1;
    flex-basis: 60%;
    padding: 2%;
}
    
.right {
    background-color: #b4bedc;
    flex-basis: 40%;
    padding: 2%;
}
    
form  > input,textarea {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    padding: 2%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 6px;
}

textarea {
    resize: none;
    height: 40%;
}

button {
    background: #E1B941;
    border-radius: 6px;
    width: 30%;
    height: 10%;
    border: none;
    outline: none;
    margin-left: 35%;
    font-family: 'Nunito Sans', sans-serif;
}

button:hover {
    cursor: pointer;
    background: #d4ae3d;
}

.credits {
    font-size: 10px;
}